*~
*.pid
*.sw?
*.pyc
.~lock*
*.orig
.hg
*hgignore*
.DS_Store
Pipfile*
.python-version

*.log*
.idea
*zedstate*
*.sqlite
celerybeat*

migrations
venv
temp
logs
test
tests
#misc
.env

instance/*.py
gunicorn.py

# Git conflict resolution temp files
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
